@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

.side-card-header {
    background-color: $blue-400;
}

.main-card {
    transform: scale(1.05, 1.1);
}

.main-card-header {
    background-color: $pink-400;
}

html *
{
   font-family: B-Nazanin !important;
}

.show_bg {
    background-image:
      linear-gradient(to left, rgba(20, 20, 252, 0.52), rgba(117, 19, 93, 0.73)),
      url('asset/sample-coding-image.jpg');
      height: 1000px;
      background-size: cover;
      color: white;
      padding: 20px;
  }
  
  @font-face {
    font-family: myriad;
    src: url(Fonts/Myriad\ Pro\ Regular.ttf);
  }
  
  .square_image {
    height: 300px;
    width: 300px;
    padding: 0px;
  }
  
  .right-down-image {
    position: absolute; 
    top: 20px; 
    left: 20px;
  }
  
  img:hover {
    z-index: -1;
  }